name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    name: Build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker Image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./debian/Dockerfile
