name: update-version

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *' # Midnight - every night

jobs:
  get_version:
    runs-on: ubuntu-latest

    name: Get next GITHUB_CLI_VERSION

    # https://stackoverflow.com/a/61236803
    outputs:
      gh_version: ${{ steps.gh_version.outputs.gh_version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Get next gh version
        id: gh_version
        run: |
          current_version="$(grep -Eo "ENV GITHUB_CLI_VERSION .+" debian/Dockerfile | cut -d' ' -f3)"
          echo "$current_version"
          latest_versions="$(curl -sL https://api.github.com/repos/cli/cli/releases | jq -c '.[] | select(.prerelease == false)' | jq -r '.tag_name' | tr '\n' ' ')"
          echo "$latest_versions"
          next_version="$(echo "$latest_versions" | grep -Eo "(.*?) v$current_version( |$)" | awk '{print $(NF-1)}' | cut -c2-)"
          echo "$next_version"
          echo "gh_version=${next_version}" >> $GITHUB_OUTPUT

  update:
    runs-on: ubuntu-latest

    name: Update GITHUB_CLI_VERSION

    needs: get_version

    if: ${{ needs.get_version.outputs.gh_version != '' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Write gh version to env
        run: |
          echo "gh_version=${{needs.get_version.outputs.gh_version}}" >> $GITHUB_ENV

      - name: Update GITHUB_CLI_VERSION
        run: |
          echo "${{ env.gh_version }}" | grep -Pq "^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$"
          find . -name Dockerfile -print0 | xargs -0 sed -i -E "s/^(ENV GITHUB_CLI_VERSION\s*).*$/\1${{ env.gh_version }}/g"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.1.0
        id: "commit"
        with:
          commit_message: "Update GITHUB_CLI_VERSION to ${{ env.gh_version }}"
          commit_user_name: actions-user
          commit_user_email: actions@github.com
          commit_author: GitHub Actions <actions@github.com>

      - name: Push Docker Image
        if: steps.commit.outputs.changes_detected == 'true'
        uses: docker/build-push-action@v6.13.0
        with:
          push: true
          context: .
          file: ./debian/Dockerfile
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.gh_version }}
            ghcr.io/${{ github.repository }}:latest
